{{#if this.message}}
  <p class="js-message">
    {{this.message}}
  </p>
{{/if}}

{{!-- {{#if @model.isDeleted}}
  <p class="hbs-message">
    You deleted
    {{@model.lastName}}
  </p>
{{/if}} --}}

{{@model.firstName}}

<br />

<button type="button" {{on "click" (fn this.del @model)}}>
  del
</button>